<h3><%= @user.full_name %></h3>

	<% if @statuses %>
		<% @statuses.each do |status| %>
		<div class="status">
			<%= status.content %>
			<br>
			<br>
			<div class="meta">
		      	<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		  	</div>
		  </div>
		<% end %>
	<% end %>

