<h3 class="subheader">Edit <%= resource_name.to_s.humanize %></h3>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="large-6 columns">

    <%= f.input :first_name, :autofocus => true %>
    <%= f.input :last_name %>
    <%= f.input :email %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.input :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i>

    <%= f.button :submit, "Update", class: "button success small radius" %>
  <% end %>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>
</div>
