<h3 class="subheader">Register</h3>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="large-6 columns">
  <%= f.input :first_name, :autofocus => true %>
  <%= f.input :last_name %>
  <%= f.input :profile_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
<br>
  <%= f.button :submit, "Sign Me Up", class: "button success small radius" %>
<% end %>
  <div class="meta">
    <%= render "devise/shared/links" %>
  </div>
</div>
