<%= simple_form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h3 class="subheader"><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h3>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="large-6 columns">
    <%= f.input :content %>
    <div class="actions">
      <%= f.button :submit, class: "button success small radius" %> <%= link_to 'Cancel', statuses_path %>
    </div>
<% end %>
