<h3 class="subheader">All Statuses</h3>
<%= link_to 'What\'s Your Status?', new_status_path, class: "button success small radius" %>

<% @statuses.each do |status| %>
  <div class="status">
    <div class="row">
      <div class="large-2 columns small-2">
        <!-- <img src="http://placehold.it/80x80&text=[img]" /> -->
        <%= image_tag status.user.gravatar_url %>
      </div>
      <div class="large-10 columns">
      <strong><%= status.user.full_name %></strong>
      <p><%= status.content %></p>
        <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class="admin">
        |  <%= link_to 'Edit', edit_status_path(status) %> |
          <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
