<h3 class="subheader">Sign In</h3>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="large-6 columns">
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean %></div>
  <% end -%>

  <div><%= f.button :submit, "Sign In", class: "button success small radius" %></div>
<% end %>

	<div class="meta">
		<%= render "devise/shared/links" %>
	</div>
</div>
