// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom: solid 1px #ccc;
	padding: 15px 0;
}

.status p {
	margin: 4px 0; 
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.meta {
	font-size: 0.8em;
}