<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Treebook" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <!-- Navigation -->

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "Treebook", statuses_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "All Statuses", statuses_path %></li>
        <li class="divider"></li>
        <% if user_signed_in? %>
        <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
         <li class="divider"></li>
        <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Register", register_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <!-- End Top Bar -->


  <div class="row">
    <div class="large-12 columns">
      <% flash.each do |type, message| %>
        <div data-alert class="<%= flash_class type %> radius alert-box"><%= message %>
          <a href="#" class="close">&times;</a>
        </div> 
      <% end %>
      
      <%= yield %>
    </div>
  </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
